@media (max-width: 739px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        margin: auto;
        background-color: #033455;
        display: grid;
        grid-gap: 1rem;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
    }

    header h1 {
        color: white;
        margin-left: 25px;
    }

    .hamburger {
        display: block; /* shows hamburguer in mobile */
        font-size: 24px;
        color: white;
        cursor: pointer;
    }

    nav {
        background-color: #033455;
        display: none; /* hidden by default*/
        flex-direction: column;  
    }

    nav.active {
        display: flex; /* Mostra o menu quando ativo */
    }

    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
        background-color: #eee;
        color: #000;
    }

    .title1 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .pictures img {
        max-width: 100%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px #333;
    }

    figcaption {
        font-family: "Arial", serif;
        font-size: 15px;
        color: black; 
        margin-top: 1px;
        margin-bottom: 25px;
    }

    footer {
        padding: 15px; 
        background-color: #033455; 
        color: #fff; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 30px #333;
    }

    footer h1 {
        font-size: 15px;   
    }

    footer p {
        font-size: 11px; 
    }
}
